/* Footer
======================================================= */
footer {
 width:100%;
 padding:15px 0;
 background:#333;
 background:rgb(57,57,57);
 color:#ccc;
 text-align:center;
 font-size:0.85em;
 letter-spacing:0.2em;
 text-transform:uppercase;
 // @include lato-4;
}
