body {
 font-size:62.5%;
 color:$body-copy-color;
}



// Highlighted Text

::selection {
 background:$highlight-bkgd-color;
 color:$highlight-color;
}

::-moz-selection {
 background:$highlight-bkgd-color;
 color:$highlight-color;
}
